---
title: 404 - lipu ala
layout: page
css:
  - stylesheet-ala.css
---
<section class="fof-not-found">
    <h2>404</h2>
    <p>
        lipu wile ni li lon ala
    </p>
    <a href="/">o tawa tomo</a>
</section>
