---
layout: page
title: "lipu tenpo - lipu ante"
css:
  - stylesheet-lipu-ante.css
---
<div class="h2">
  <h2 id="lipu-ante">lipu ante</h2>
</div>
<section class="lipu-ante">
  {{#each lipu_ante}}
  <div class="list">
    <h3 id="{{@key}}">{{@key}}</h3>
    <nav>
      <ul>
      {{#each this}}
        <li>
          {{#each this}}
          <a href="{{this}}">{{@key}}</a>
          {{/each}}
        </li>
      {{/each}}
      </ul>
    </nav>
  </div>
  {{/each}}
</section>
