---
pagination:
  data: lipu_ale
  size: 1
  alias: lipu
permalink: /lipu-tenpo-{{ lipu.title | slugify }}/
layout: page.html
eleventyComputed:
  title: "lipu tenpo - {{ lipu.title }}"
  header_text: "lipu tenpo {{ lipu.title }}"
---

<nav class="py-4 flex flex-col justify-center items-center gap-4">
  <h2 class="text-2xl">lipu</h2>
  <ul class="flex flex-col justify-center items-center gap-8">
    <li class="text-2xl">
      <a class="text-blue-500" href="/pdfs/{{ lipu.pdf }}"
        >lipu tenpo {{ lipu.title }}</a
      >
    </li>
    <li class="text-2xl">
      <a class="text-blue-500" href="/pdfs/{{ lipu.pdf_pf }}">
        lipu tenpo {{ lipu.title }} (tawa ilo sitelen*)
      </a>
    </li>
    <li class="text-2xl">
      <a class="text-blue-500" href="/pdfs/{{ lipu.pdf_bwpf }}">
        lipu tenpo {{ lipu.title }} (pimeja/walo tawa ilo sitelen*)
      </a>
    </li>
  </ul>
</nav>
<section class="flex flex-col justify-center items-center m-4 mt-8">
  <embed
    style="max-width: 40rem; max-height: 55rem; height: 100vw"
    class="w-full"
    src="/pdfs/{{ lipu.pdf }}"
    width="500"
    height="375"
    type="application/pdf"
  />
</section>
<section>
  <h2 class="text-2xl">*ilo sitelen li ni</h2>
  <p>
    sina wile pali e lipu tenpo kepeken ilo sitelen la, sina pali e ni: o kama
    jo e lipu tenpo tawa ilo sitelen. o ante e ijo ni: o pali e lipu lon sinpin
    tu. sinpin wan la, lipu tu li lon.
  </p>
  <h2 class="text-2xl">toki Inli</h2>
  <p>
    When you want to print the lipu tenpo out, do this: Download the printer
    version (“tawa ilo sitelen”) and change these things: Choose “print on both”
    sides. Also, on one side there should be two pages (in total 4 pages with
    the other side of the paper). When you do this, you can easily connect the
    pages now with a stapler.
  </p>
</section>
<nav class="py-4 flex flex-col justify-center items-center gap-4">
  <ul class="flex flex-row justify-center items-baseline gap-4">
    <li>
      {% if pagination.href.previous %}<a
        class="text-blue-500"
        href="{{ pagination.href.previous }}"
        >Previous</a
      >{% else %}<span class="text-gray-500">Previous</span>{% endif %}
    </li>
    <li>
      {% if pagination.href.next %}<a
        class="text-blue-500"
        href="{{ pagination.href.next }}"
        >Next</a
      >{% else %}<span class="text-gray-500">Next</span>{% endif %}
    </li>
  </ul>
</nav>
