---
title: lipu tenpo
description: lipu tenpo
---

<!DOCTYPE html>
<html lang="tok">
  <head>
    <title>{{ title }}</title>
    <!-- browser metas -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ description }}" />

    <!-- embed metas - https://ogp.me/ -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:site" content="lipu tenpo" />
    <meta property="og:url" content="https://liputenpo.org{{ slug }}" />
    <meta
      property="og:image"
      content="https://liputenpo.org{{ slug }}/og-image.png"
    />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:locale" content="en_GB" />

    <!-- styling -->
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <!-- stylesheets -->
    <link rel="stylesheet" href="/stylesheet.css" />
    <link rel="stylesheet" href="/tailwind.css" />
  </head>

  <body class="bg-gray-800 text-gray-100">
    {{ content | safe }}
  </body>
</html>
