---
layout: base.html
---

<header>
  <img
    class="logo"
    src="/logo.png"
    alt="lipu tenpo logo"
    width="475px"
    height="497px"
  />
  <nav>
    <ul>
      <li>
        <a href="/">tomo</a>
        <a href="/lipu-ante">lipu ante</a>
        <a href="/category/lipu">lipu</a>
        <a href="/category/toki">toki</a>
        <a href="/sonapona">sona pona</a>
        <a href="/about">jan pali</a>
      </li>
    </ul>
    <!-- search bar -->
    <form onsubmit="">
      <input type="text" name="q" placeholder="search" />
    </form>
  </nav>
  <h1>lipu tenpo</h1>
</header>
<main>{{{ content }}}</main>
<footer>
  <hr />
  <nav>
    <ul>
      <li>
        <a href="{{ linluwi.discord }}" target="_blank">Discord</a>
        <a href="mailto:{{ linluwi.email }}">{{ linluwi.email }}</a>
        <a href="{{ linluwi.article_submission_form }}" target="_blank">
          o pana e pali sina
        </a>
      </li>
    </ul>
  </nav>
</footer>
