---
layout: base.html
header_text: lipu tenpo
---

<header class="p-4">
  <img
    class="w-40"
    src="/logo.png"
    alt="lipu tenpo logo"
    width="475px"
    height="497px"
  />
  <nav class="">
    <ul>
      <li>
        <a href="/">tomo</a>
      </li>
      <li>
        <a href="/lipu-ante">lipu ante</a>
      </li>
      <li>
        <a href="/category/lipu">lipu</a>
      </li>
      <li>
        <a href="/category/toki">toki</a>
      </li>
      <li>
        <a href="/sonapona">sona pona</a>
      </li>
      <li>
        <a href="/about">jan pali</a>
      </li>
    </ul>
    <!-- search bar -->
    <form onsubmit="">
      <input type="text" name="q" placeholder="search" />
    </form>
  </nav>
  <h1 class="text-4xl">{{ header_text }}</h1>
</header>
<main class="p-4">{{ content | safe }}</main>
<footer class="p-4">
  <hr class="my-4" />
  <nav class="py-4">
    <ul class="flex flex-col justify-center items-center gap-4">
      <li>
        <a href="{{ linluwi.discord }}" target="_blank">Discord</a>
      </li>
      <li>
        <a href="mailto:{{ linluwi.email }}">{{ linluwi.email }}</a>
      </li>
      <li>
        <a href="{{ linluwi.article_submission_form }}" target="_blank">
          o pana e pali sina
        </a>
      </li>
    </ul>
  </nav>
</footer>
