.h2 {
  font-size: 3rem;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}
.h2 h2 {
  margin: 0;
  padding: 0.5rem 2rem;

  background-color: var(--colour-laso-walo);
  color: var(--colour-laso-pimeja);
  border-radius: var(--blob-border-radius-03);
}

.nimi-pi-pu-ala {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nimi-pi-pu-ala h3 {
  font-size: 2rem;
  margin: 0.5rem;
  padding: 0.75rem 2rem;
  background-color: var(--colour-jelo-walo);
  color: var(--colour-jelo-pimeja);
  border-radius: var(--blob-border-radius-04);
}
.nimi-pi-pu-ala h4 {
  margin: 0.5rem 0 0;
}
.nimi-pi-pu-ala p {
  margin: 0;
}

.jan-pali {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jan-pali h3 {
  margin: 4rem 0 1rem;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  background-color: var(--colour-unu-walo);
  color: var(--colour-unu-pimeja);
  border-radius: var(--blob-border-radius-01);
}
.jan-pali .jan {
  color: var(--colour-pimeja-lili);
}
.jan-pali .active {
  color: var(--logo-secondary);
}
.jan-pali .lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}
.jan-pali .jan-mute {
  margin: 0.5rem;
}
.jan-pali h4 {
  margin: 0;
}
.jan-pali ul {
  min-width: 10rem;
  max-height: 39.5rem;
  overflow-y: auto;
}

.sona {
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sona h3 {
  font-size: 2rem;
  padding: 0.5rem 2rem;
  background-color: var(--colour-loje-walo);
  color: var(--colour-loje-pimeja);
  border-radius: var(--blob-border-radius-03);
}
