.h2 {
  text-align: center;
  font-size: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.h2 h2 {
  padding: 0.5rem 2rem;
  margin: 0;

  background-color: var(--colour-laso-walo);
  color: var(--colour-laso-pimeja);
  border-radius: var(--blob-border-radius-04);
}

.lipu-ante {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  margin: 0 1rem 1rem;
}
.lipu-ante .list {
  max-width: 15rem;
  margin: 1rem;
}
.lipu-ante li {
  margin: 0.5rem;
}
