.h2 {
  font-size: 3em;
  margin: 1rem 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h2 h2 {
  margin: 0;
  padding: 0.5rem 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--colour-laso);
  color: var(--colour-laso-pimeja);
  border-radius: var(--blob-border-radius-03);
}

#rss {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
#rss img {
  height: 1.75rem;
  width: auto;
}

search {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
search > label {
  margin-right: 1rem;
}
search > label.sitelen-pona {
  font-size: 2rem;
}
search > input {
  width: 100%;
  max-width: 20rem;
  padding: 0.5rem;
  border: 1px solid var(--text-subtle);
  border-radius: 0.25rem;
  font-size: 1rem;
  color: var(--text-colour);
  background-color: var(--background-colour);
}

.sitelen-pona {
  font-family: "sitelen seli kiwen", sans-serif;
}

.categories {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories h3 {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 2.5rem 0;
}

.blobby-0 {
  background-color: var(--colour-unu);
  color: var(--colour-unu-pimeja);
  border-radius: var(--blob-border-radius-02);
}
.blobby-1 {
  background-color: var(--colour-jelo);
  color: var(--colour-jelo-pimeja);
  border-radius: var(--blob-border-radius-04);
}
.blobby-2 {
  background-color: var(--colour-loje);
  color: var(--colour-loje-pimeja);
  border-radius: var(--blob-border-radius-02);
}
.blobby-3 {
  background-color: var(--colour-laso);
  color: var(--colour-laso-pimeja);
  border-radius: var(--blob-border-radius-04);
}

.category-title.sitelen-pona {
  font-size: 4rem;
  text-align: center;
  display: block;
}

.articles {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.article {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--text-colour);
}

.article.hidden {
  display: none;
}

.article .nimi-suli {
  font-size: 2rem;
  text-decoration: underline;
  text-align: center;
}

.article .meta {
  margin-top: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.article .meta > * {
  margin: 0 0.5rem;
}

.article .jan-pali,
.article .tenpo,
.article .lipu,
.article .category {
  color: var(--text-subtle);
}
