h2 {
  font-size: 3rem;
  text-align: center;
}

.active {
  color: var(--logo-secondary);
}

.nimi-pi-pu-ala {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nimi-pi-pu-ala h3 {
  font-size: 2rem;
  margin: 0.5rem;
  padding: 0.5rem 2rem;
  background-color: var(--colour-laso);
  color: var(--colour-laso-pimeja);
  border-radius: 70% 30% 59% 41% / 64% 46% 54% 36%;
}
.nimi-pi-pu-ala h4 {
  margin: 0.5rem 0 0;
}
.nimi-pi-pu-ala p {
  margin: 0;
}

.jan-pali {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jan-pali h3 {
  margin: 4rem 0 1rem;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  background-color: var(--colour-unu);
  color: var(--colour-unu-pimeja);
  border-radius: 25% 75% 50% 50% / 66% 55% 45% 34%;
}
.jan-pali .lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}
.jan-pali h4 {
  margin: 0;
}
.jan-pali ul {
  min-width: 10rem;
}

.sona {
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sona h3 {
  font-size: 2rem;
  padding: 0.5rem 2rem;
  background-color: var(--colour-loje);
  color: var(--colour-loje-pimeja);
  border-radius: 49% 51% 68% 32% / 59% 45% 55% 41%;
}
