h2 {
  font-size: 3rem;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0;
}
.date {
  color: var(--text-subtle);
  text-align: center;
  margin: 0;
  display: block;
  margin: 1rem 0 2rem;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main h3 {
  margin: 0;
}
.pdfs {
  margin-bottom: 2rem;
}
.pdfs ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pdfs li {
  box-sizing: content-box;
  margin: 1rem;
  display: flex;
  justify-content: center;
}
.pdfs li a {
  flex: 1 0;
  border: 3px solid var(--logo-secondary-dark);
  background-color: var(--logo-primary-dark);
  padding: 1rem;
  border-radius: 1.5rem;
  color: var(--logo-secondary);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pdfs .icon {
  height: 1.5rem;
  width: auto;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.pdfs .icon.colour {
  /* filter: invert(97%) sepia(82%) saturate(721%) hue-rotate(328deg)
    brightness(108%) contrast(101%); */
  filter: invert(80%) sepia(18%) saturate(763%) hue-rotate(8deg) brightness(99%)
    contrast(87%);
}
.pdfs .icon.bnw {
  filter: invert(16%) sepia(0%) saturate(1649%) hue-rotate(146deg)
    brightness(96%) contrast(87%);
}
.pdfs .sitelen-pona {
  font-size: 1.5em;
  font-family: "sitelen seli kiwen", sans-serif;
}

.embed {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}
.embed embed {
  max-width: 95vw;
}
.embed a {
  margin: 1rem;
}

.nasin-pali {
  max-width: 40rem;
  margin: 1rem;
}

.nasin-pali h3 {
  font-size: 2rem;
}

.toki {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.toki h3 {
  font-size: 2rem;
  padding: 1rem 1rem;

  background-color: var(--colour-laso-walo);
  color: var(--colour-laso-pimeja);
  border-radius: var(--blob-border-radius-04);
}
.sitelen-pona {
  font-family: "sitelen seli kiwen", sans-serif;
}
.toki ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.article {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--text-colour);
}
.article .nimi-suli {
  font-size: 1rem;
  text-decoration: underline;
  text-align: center;
}
.article .meta {
  margin-top: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.article .meta > * {
  margin: 0 0.5rem;
}
.article .jan-pali,
.article .tenpo,
.article .category {
  color: var(--text-subtle);
}

.prevnext {
  margin: 3rem 1rem 3rem;
  width: 100%;
}
.prevnext ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.prevnext a {
  padding: 1rem 2rem;
  background-color: var(--logo-primary-dark);
  border-radius: 1rem;
  text-decoration: none;
  color: var(--logo-secondary);
}
.prevnext .disabled {
  color: var(--text-subtle);
}
