/* stylesheet for /index page */

@keyframes scrollleft {
  0% {
    translate: 0;
  }
  50% {
    translate: -40rem;
  }
  100% {
    translate: 0;
  }
}

@keyframes scrollright {
  0% {
    translate: 0;
  }
  50% {
    translate: +40rem;
  }
  100% {
    translate: 0;
  }
}

#introduction {
  margin: 0;
  position: relative;
  padding: 0;
}
/* purple wibbly lines */
/* #introduction {
  background-color: var(--logo-primary);
}
#introduction::before {
  content: "";
  width: 100%;
  height: 5rem;
  background-image: url("/texture_bumps_homepage.svg");
  background-size: auto;
  background-repeat: repeat-x;
  background-position: bottom;
  position: absolute;
  top: calc(-5rem + 1px);
  left: 0;
  pointer-events: none;
}
#introduction::after {
  content: "";
  width: 100%;
  height: 5rem;
  background-image: url("/texture_bumps_homepage.svg");
  background-size: auto;
  background-repeat: repeat-x;
  background-position: bottom;
  position: absolute;
  bottom: calc(-5rem + 1px);
  right: 0;
  pointer-events: none;
  transform: rotate(180deg);
} */
#introduction p {
  margin: 1rem;
  font-size: 1.5rem;
  line-height: 2;
  text-align: center;
  font-weight: bold;
}

.h2 {
  font-size: 3em;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h2 h2 {
  padding: 0.5rem 2rem;
  margin: 1rem 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--colour-laso-walo);
  color: var(--colour-laso-pimeja);
  border-radius: var(--blob-border-radius-03);
}
#rss {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
}
#rss img {
  height: 1.25rem;
  width: auto;
}

#lipu-nanpa-lon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.lipu-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#lipu_ale {
  padding: 3rem 2rem 2rem;
  width: 100%;
  max-width: 60rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-gap: 4rem;
}

#lipu_ale > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.lipuwan {
  max-width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.lipuwan a {
  height: 100%;
  width: 100%;
  color: var(--logo-primary);
  text-decoration: none;
  font-weight: bold;
}
.lipuwan img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
.lipuwan h3 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.lipuwan .date {
  color: gray;
}
.lipuwan a:hover {
  text-decoration: underline;
}
