.toki {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 3rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
  text-align: center;
}

.meta {
  font-size: 1rem;
  color: var(--text-subtle);
  margin-top: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.meta > * {
  margin: 0 0.5rem;
}
.sitelen-pona {
  font-family: "sitelen seli kiwen", sans-serif;
}

.nimi {
  margin: 1rem;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: justify;
}

p:has(.image) {
  align-self: center;
}
.nimi a.image {
  text-decoration: none;
}
.nimi .image img {
  max-width: 100%;
  max-height: 20rem;
  color: red;
}
.nimi figcaption {
  width: 100%;
  font-size: 0.75rem;
  color: var(--text-subtle);
  text-align: center;
  margin-top: 0.25rem;
}

.nimi blockquote {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-left: 0.25rem solid var(--text-subtle);
  background-color: var(--bg-subtle);
  font-style: italic;
}
