---
import { colourhash } from "@/utils";
import ReadableDate from "@/components/ReadableDate.astro";

interface Props {
  text: string | Date;
  sp?: string;
}
const { text, sp } = Astro.props;
---

<style>
  div {
    margin: 0 0.5rem;
    display: inline-block;
  }
</style>
<div>
  {
    text instanceof Date ? (
      <span style={`color: ${colourhash(text.toISOString().split("T")[0])}`}>
        <span class="sitelen-pona">{sp ?? text}</span>
        <ReadableDate date={text} />
      </span>
    ) : (
      <span style={`color: ${colourhash(text)}`}>
        <span class="sitelen-pona">{sp ?? text}</span>
        {text}
      </span>
    )
  }
</div>
