---
layout: page
title: "lipu tenpo - sona"
eleventyExcludeFromCollections: true
permalink: /toki/
---
<h2>toki</h2>
{{#each collections}}
{{#if (neq @key "all")}}
<h3>{{@key}}</h3>
<ul>
    {{#each this}}
    <li>
        <a href="{{page.url}}">{{data.[nimi-suli]}} ({{data.[jan-pali]}})</a>
    </li>
    {{/each}}
</ul>
{{/if}}
{{/each}}